//****************************
//*COLOR Variable
//****************************

//*Primary
// $primary_colorName: color value; //*description

$primary-blue: rgb(15, 82, 136);
$primary-light-blue: rgb(53, 115, 163);
$primary-wheat: rgb(245, 245, 245);
$primary-green: #44805c;

//*Secondary
// $secondary_colorName: color value; //*description

$secondary-brown: rgb(171, 80, 69);
$secondary-green: rgb(87, 165, 68);
$secondary-orange: rgb(234, 93, 15);

//*Tersary
// $tersary_colorName: color value; //*description
