.containerCenter {
  display: flex;

  justify-content: center;
}

.contentBlock {
  @include media('<=1351px') {
    width: 90% !important;
  }
  @include media('<=958px') {
    width: 95% !important;
  }
  display: flex;
  width: 65% !important;
}
