$padding-applied-to_logincard: 10rem;
#login-page {
  background-image: radial-gradient(
    at 50% 0,
    $primary-green,
    $primary-light-blue,
    transparent 75%
  );
  @include flexVH;
  width: 100vw;
  padding: $padding-applied-to_logincard;
  @include media('<=653px') {
    padding: $padding-applied-to_logincard 0rem;
  }
}
#login-card {
  select {
    font-size: 2rem;
    height: 5rem;
  }
  animation-name: float;
  animation-duration: 3.8s;
  animation-iteration-count: infinite;
  transition: all 3.8s;
  margin: 2rem;
  @include media('<=653px') {
    margin: 2.5rem;
    width: 100%;
  }
  @include media('<=510px') {
    margin: 0rem;
  }
  input {
    height: 5rem;
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 1.7rem;
  }
  label {
    font-size: 2rem;
  }
  .text-muted {
    font-size: 1.6rem;
  }
  background-color: $primary-wheat;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 45rem;
  margin: 2rem;
  header {
    h1 {
      font-size: 3rem;
      color: rgb(194, 189, 189);
    }
    @include flexH;
    flex-direction: column;
  }
  button {
    margin: 2rem 2rem;
    transform: translateX(-50%);
    margin-left: 50%;
  }
}
